<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}

      {% if error %}
      {{ error }}
      <br>

      {% endif %}


    <br>
    <h1>Login</h1>
    <form method='POST' action="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username : </label>
        <br>
        <input type="text"  name="username" >
      
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password : </label>
        <br>
        <input type="password" name="password">
      </div>
      
      <input type="submit" value="Login" class="btn btn-primary"></input>
    </form>
  </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>